:root {
    --primary-color: #F59E0B
    ;
}   

body {
    background-image: url("/images/jar.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gowun Dodum', sans-serif;
    margin: 0px;
}

.nav {
    display: block;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--primary-color);
    color: black;
    padding: 1px;
}

.section {
    align-content: center;
}

#btn-translate {
    margin: 1rem 28rem;
    padding: 0.5rem 1rem;

}

.translation {
    margin: 1rem 28rem;

}

.footer {
    position: fixed;
    background-color: var(--primary-color);
    bottom: 0%;
    width: 100%;
    padding: 10px 2px;
    text-align: center;
    color: black;
}